main {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;    
}

.container {
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--bg-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding: 20px;
    background-color: var(--primary-color);  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 2px solid transparent;
    border-radius: 7px;
    transition: 0.5s ease-out;
}

.form-container:hover {
    border: 2px solid #8cb5f8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* text field */
.task-name-in {
    flex-grow: 1;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 25px;
}

.task-name-in:hover {
    outline: none;
}

.task-name-in:focus{
    outline: none;
}

/* text area */
.task-details-in {
    height: 35vh;
    flex-grow: 2;
    padding: 10px; 
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
}

.task-details-in:hover {
    outline: none;
}

/* time and date */
.time-container {
    flex-grow: 1;
    padding: 1.5rem 0rem;
}

.time-container input {
    padding: 0.5rem;
    width: 15rem;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
}

.label {
    font-size: 18px;    
    color:#3c4043;
}

.time {
    color: black;
}

/* label */
.label-container {
    flex-grow: 1;
    padding-bottom: 1.5rem;
    border-bottom: 1px dotted #3c4043;
}

.label-container select {
    padding: 0.4rem;
    font-size: 16px;    
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.label-container select:hover {
    background-color: #dbdbdb;
}

.label-container select:focus{
    background-color: #dbdbdb;
}

.color-in {
    margin-left: 20px;
}

/* clear and reset */
.button-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    width: 8rem;
    height: 2.5rem;
    font-size: 18px;
    border: 0px solid transparent;
    background-color:#fdca40;
    font-weight: 400;
    color: black;
    border-radius: 4px;
    transition: background-color 0.8s ease;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.button:hover{
    background-color: #33a1fd;
}


/* recent task */
.recent-tasks {
    color: black;
    margin-left: 5rem; 
    height: 60vh;
    height: 60svh;
}

.recent-tasks ul{
    margin: 0;
    padding: 0;
}

.task-list-container {
    padding: 1.5rem 0rem;
}

.task-list-container li{
    list-style: none; 
}

.task-label {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    width: 30vw;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    z-index: 1;
    transition: 0.5s ease;
}

.task-label:hover {
    border:2px solid #66A9FF;
}
.task-mark-as-done {
    position: absolute;
    padding: 0;
    z-index: 2;
    background-color: #4285f4;  
    color: white;
    width: 8rem;
    font-weight: 600;
    border: 0px;
    border-radius: 0px 0px 5px 5px;
    height: 0.8rem;
    margin-left: 1rem;
    margin-top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: opacity, height 0.05s ease-out;
}

.task-mark-as-done p{
    font-size: 15px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.task-mark-as-done:hover {
    height: 2rem;
}

.task-mark-as-done:hover p{
    opacity: 1;
}

.task-mark-as-done:active {
    background-color: #85b0f8;
}


.message-pop-up {
    width: 18rem;
    display: block;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #56cb75;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: opacity 0.3s ease-in;
}
