:root {
    --primary-color: white;
    --bg-color: #f4f4f4;

}

main {
    background-color: var(--bg-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list-task-con {
    padding: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--primary-color);
}

.task-one-row{
    padding: 0rem 0rem;
    margin: 0;
    display:flex;
    justify-content: space-between;
}

.task-one-row p{
    padding: 0;
    margin: 0;
}

.task-last-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.task-button-row a{
    text-decoration: none;
    cursor: default;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 0.5rem;
    background-color: #e9e9ed;
    border: 1px solid #b2b2c0;
    border-radius: 5px;
}

.task-button-row a:hover {
    background-color:#c2c2cd;
}

#circle {
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.task-last-row-last-item {
    background-color: #ff3232;
    color: white;
    font-weight: 600;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

.message-pop-up {
    width: 18rem;
    display: block;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3cc360;
    color: white;
    font-size: 20px;
    border: 1px solid gray;    
    border-radius: 5px;
    transition: opacity 0.5s ease-out;
}
