:root {
    --primary-color: white;
    --bg-color: #f5f5f5;

}

main {
    background-color: var(--bg-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*.anim {
  animation: scale 0.3s ease-in-out infinite alternate;
}

@keyframes scale {
  to { transform: scale(1.01) }
}
*/
.list-task-con {
    padding: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid transparent;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: var(--primary-color);
/*    transition: 0.15s ease-out; */
    transition: 0.3s ease-out;
}

.list-task-con:hover {
    border: 2px solid #007cff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
/*     transform: scale(1.01);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
*/
}

.task-one-row{
    padding: 0rem 0rem;
    margin: 0;
    display:flex;
    justify-content: space-between;
}

.task-one-row p{
    padding: 0;
    margin: 0;
}

.task-last-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.task-button-row a{
    text-decoration: none;
    cursor: default;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 0.5rem;
    background-color: #e9e9ed;
    border: 1px solid #b2b2c0;
    border-radius: 5px;
}

.task-button-row a:hover {
    background-color:#c2c2cd;
}

#circle {
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.task-last-row-last-item {
    background-color: #ff3232;
    color: white;
    font-weight: 600;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

.message-pop-up {
    width: 18rem;
    display: block;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #56cb75;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: opacity 0.3s ease-in;
}
