{% extends "DreamCatcher/layout0.html" %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'DreamCatcher/addtask.css' %}" rel="stylesheet">
{% endblock %}
    
{% block main %}

    <!-- it will show the latest task here -->
    <form class="form-container" method="post" action="{% url 'addtask' %}">
            {% csrf_token %}
        
            <input type="text" name="name" class="task-name-in textfield" placeholder="Add a task" required minlength="1">
            
            <br>
            <textarea rows="10" name="description" class="task-details-in textarea" placeholder="Description" required minlength="5"></textarea>
            <br>
            
            <div class="time-container">
                <label class="label">Due at : </label> 
                <input type="datetime-local" name="time" class="time" value="2023-01-01T00:00">
            </div>
        
            <div class="label-container">
                <label class="label">Add label : </label>
                <select name="label">
                    <option value="Urgent">Urgent</option>
                    <option value="Important">Important</option>
                </select>     
            </div>
        
            <div class="button-container">
                <input type="reset" class="task-clear-in button" value="Clear">
                <input type="submit" class="task-add-in button" value="AddTask">
            </div> 
    
        </form>

        <div class="recent-tasks">
        
            <h1>Recent Tasks : </h1> 
            {% if tasks|length == 0 %}
                <h2>No recent tasks</h2>
        
            {% else %}
            <ul>
                {% for task in tasks %}
                <div class="task-list-container">
                
                    <li class="task-label">
                        <p>{{ task.name }}</p>
                    </li>
                
                    <button class="task-mark-as-done">
                    <p>Mark as done<p>
                    </button>
                
                </div>
            
                {% endfor %}
            </ul>
        
            {% endif %}
        </div>
    
{% endblock %}
