{% extends "DreamCatcher/layout0.html" %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'DreamCatcher/addtask.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script>
        // Wait for the DOM to be ready
        document.addEventListener("DOMContentLoaded", function() {
            var messagePopup = document.querySelector('.message-pop-up');
            messagePopup.style.opacity = '1';
            setTimeout(function() {
                messagePopup.style.opacity = '0';
                setTimeout(function() {
                    messagePopup.style.display = 'none';
                }, 300);
            }, 2000);
        });    
    </script>

{% endblock %}
{% block main %}
    
    {% if messages %}
        <div class="message-pop-up">
            {% for message in messages %}
                {{ message }}    
            {% endfor %}
        </div>
    {% else %}
    {% endif %}
    
  
    <!-- it will show the latest task here -->
    <form class="form-container" method="post" action="{% url 'addtask' %}">
            {% csrf_token %}
        
            <input type="text" name="name" class="task-name-in textfield" placeholder="Add a task" required minlength="1">
            <br>
            <textarea  name="description" class="task-details-in textarea" placeholder="Description" required minlength="5"></textarea>
            <br>
            
            <div class="time-container">
                <label class="label">Due at : </label> 
                <input type="datetime-local" name="time" class="time" value="2023-01-01T00:00">
            </div>
        
            <div class="label-container">
                <label class="label">Label &nbsp;&nbsp;: </label>
                <select name="label">
                    <option value="Urgent">Urgent</option>
                    <option value="Important">Important</option>
                </select>     
            </div>
        
            <div class="button-container">
                <input type="reset" class="task-clear-in button" value="Clear">
                <input type="submit" class="task-add-in button" value="AddTask">
            </div> 
    
    </form>

    <div class="recent-tasks">
    
        {% if tasks|length == 0 %}
            <h2 style="font-weight: 400;">No recent tasks</h2>
        {% else %}
        
        <h1 style="padding:0;font-weight: 400;">Recent tasks : </h1>
        <hr style="border: 1px dashed #606060;">
        <ul>
            {% for task in tasks %}
            <div class="task-list-container">
            
                <li class="task-label">
                    <p>{{ task.name }}</p>
                </li>
                
                <li>
                    <button class="task-mark-as-done">
                        <a href="{% url 'markasdone_add' task_id=task.id %}">
                            <p>Mark as done<p>
                        </a>
                    </button>
                </li>
            
            </div>
        
            {% endfor %}
        <br>
        <br>
        </ul>
        {% endif %}
    </div>
    
{% endblock %}
