{% extends "DreamCatcher/layout0.html" %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'DreamCatcher/listtask.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
        <!-- task delete -->
        <div class="delete-task-card">
            {{ message }}  
        </div>
        {% for task in tasks %}  
        <div class="list-task-con">
            <div class="task-one-row">
                <p>{{ task.name }}</p>
                <p>Due at : {{ task.datetime }}</p>
            </div>
            <hr>
            {{ task.description }}
            <br>
            <br>
            <div class="task-last-row">
                <div class="task-button-row">
                    <a href="{% url 'delete' task_id=task.id %}">Delete</a>
                    <a>reshedule</a>
                    <a>Mark as done</a>
                </div>
                <div class="task-last-row-last-item">
                    <!-- <div id="circle" ></div> -->
                    {{ task.label }} 
                </div>
            </div> 
        </div>
    
        {% empty %}
            Not any task added yet
        {% endfor %}
    
{% endblock %}
